{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Django Central</title>
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/base.css?{% now 'U' %}" />
  </head>

  <body>
    <!-- Navigation -->
    <div class="navbar">
      <div class="navbar-title">
        <ul>
          <li>
            KJ Wilson
          </li>
          <li>
            Seamless Landing Pages
          </li>
        </ul>
      </div>
      <div class="navbar-items">
        <ul>
          <!-- All Posts -->
          <li>
            <a href="">
              RECENT
            </a>
          </li>
          <!-- Music Releases-->
          <!-- Events -->
          <li>
            {% comment %}
            <!-- <a href="{% url 'music' %}"> -->
            {% endcomment %}
            <a href="">
              MUSIC
            </a>
          </li>
          <!-- Tech Projects -->
          <li>
            {% comment %}
            <!-- <a href="{% url 'tech' %}"> -->
            {% endcomment %}
            <a href="">
              TECH
            </a>
          </li>
          <!-- Purchasable Projects -->
          <!-- Beat Store -->
          <!-- Clothes Store-->
          <!-- Contract Inqueries -->
          <!-- Donate -->
          <li>
            {% comment %}
            <!-- <a href="{% url 'store' %}"> -->
            {% endcomment %}
            <a href="">
              STORE
            </a>
          </li>
          <!-- Team -->
          <!-- About -->
          <!-- Mission -->
          <!-- Submit Work-->
          <li>
            {% comment %}
            <!-- <a href="{% url 'team' %}"> -->
            {% endcomment %}
            <a href="">
              TEAM
            </a>
          </li>
        </ul>
      </div>
    </div>
    {% block content %}{% endblock content %}
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-div">Copyright &copy; KJ Wilson</div>
      <!-- Social Media Links-->
      <!-- Sign up for Email Newsletter -->
    </footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
</html>
