{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Django Central</title>
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/base.css" />
  </head>

  <body>
    <!-- Navigation -->
    <div class="navbar">
      <!-- Music Releases-->
      <!-- Tech Projects -->
      <!-- Events -->
      OK
      <!-- Beat Store -->
      <!-- Clothes -->
      <!-- Inquires  -->
      <!-- -->
      <!-- Team -->
      <!-- About -->
      <!-- Mission -->
      <!-- Submit Work -->
    </div>
    {% block content %}{% endblock content %}
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-div">Copyright &copy; KJ Wilson</div>
      <!-- Social Media Links-->
      <!-- Sign up for Email Newsletter -->
    </footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
</html>
